{% extends 'base.html' %}
    {% block cont %}
<body class="bg-success">
<div class="col-12 row container justify-center">
    <h1 class="col-12 m-5 text-danger">Hi.... {{name}}</h1>
    <h3 class="col-12 m-5 ">Welcome to home page</h3>
     <img class="col-12" src="{{STATIC_URL}}asset/fifi.gif" alt="cannot load image" >
    <h5 class="col-12 m-5 ">You are logged in</h5>

    <div class="bg-danger border-5 border border-primary m-5"><a href="signout" class="text-light col-12"><h3>SIGN OUT</h3></a></div>
</div>


   {% endblock %}
